:root {
    --fonte-principal: 'Montserrat';
    --branco-principal: white;
    --botao-azul: #418ee1;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box; /* Garante que paddings e borders sejam incluídos nas dimensões */
}

body {
    background-color: var(--branco-principal);
    font-family: var(--fonte-principal), sans-serif;
    max-width: none; /* Remova o max-width para permitir que o body ocupe a tela inteira */
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    align-items: center; /* Alinha verticalmente no centro */
    background-color: rgba(255, 255, 255, 0.7);
    height: 55px; /* Mantém a altura fixa */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
    box-sizing: border-box;
    justify-content: space-between; /* Garante que logo + abas fiquem juntos à esquerda e whatsapp à direita */
    z-index: 2;
}


.abas {
    display: flex; /* As abas serão organizadas lado a lado */
    margin: 0; /* Remove qualquer margem entre o logo e as abas */
    padding: 0;
    font: bold 16px "Montserrat", sans-serif;
    font-weight: 300;
}

.logo {
    height: 25px; /* Define uma altura fixa para o logo */
    width: auto;  /* A largura será ajustada proporcionalmente */
}

.abas li {
    display: inline-block; /* Faz os itens da lista ficarem na mesma linha */
    margin-right: 0.5em; /* Espaçamento entre os itens */
}

.abas li:not(:last-child)::after {
    content: " | "; /* Adiciona o separador entre os itens */
    color: black; /* Define a cor do separador para preto */
    padding-left: 0.2em; /* Adiciona o espaço à esquerda do separador */
    padding-right: 0.1em;
}

.links {
    text-decoration: none;
    color: black;
}

.links:hover {
    font-weight: 400;
}

.whatsapp-button {
    margin-left: auto; /* Alinha o botão à direita */
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    background-color: #25D366;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.whatsapp-button i {
    margin-right: 8px;
    font-size: 20px;
}

.whatsapp-button:hover {
    background-color: #128C7E;
}

.home {
    display: grid; /* Usamos grid para dividir em duas colunas */
    grid-template-columns: 50% 50%; /* Define duas colunas, cada uma com 50% da largura */
    align-items: center; /* Alinha os itens verticalmente no centro */
    justify-items: center; /* Centraliza os itens horizontalmente dentro de cada célula */
    width: 100vw; /* Faz com que a seção ocupe a largura completa da tela */
    height: 60vh; /* Define a altura da seção como 60% da altura da janela */
    padding: 6em 15em; /* Mantém o padding desejado */
    box-sizing: border-box; /* Garante que o padding não afete a largura/altura */
    margin: 0;
    gap: 2em;

}

.home-content {
    padding: 0 15px;
    width: 600px;
}

.home-img {
    max-width: 600px; /* Limita a largura máxima da imagem */
    width: 100%; /* Permite que a imagem ocupe até 100% do espaço disponível */
    height: auto; /* Mantém a proporção da imagem */
    object-fit: contain; /* Garante que a imagem será redimensionada para caber dentro do contêiner sem ser cortada */
    z-index: 1;
}

.home-title {
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 0.2em;
}

.home-subtitle {
    font-weight: 400;
    font-size: 15px;
    margin-right: 0;
}

.cotacao_btn {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 0.6em 0.8em;
    color: var(--branco-principal);
    text-decoration: none;
    display: inline-block;
}

.qs {
    background-color: var(--botao-azul);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto; /* Permite que a altura se ajuste conforme o conteúdo */
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto; /* A altura será ajustada automaticamente com base no conteúdo */
    margin: 0;
    padding: 0;
    z-index: 0;
    position: relative;
}

.qs-img {
    max-width: 800px;
    justify-self: center;
    width: 100%; /* Permite que a imagem ocupe até 100% do espaço disponível */
    height: auto; /* Mantém a proporção da imagem */
    object-fit: contain; /* Garante que a imagem será redimensionada para caber dentro do contêiner sem ser cortada */
    align-self: center;
}

.qs-content {
    align-self: center;
    justify-self: center;
    margin-right: 9em;
    color: var(--branco-principal);
}

.qs-title {
    font: var(--fonte-principal);
    font-size: 20px;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.qs-span {
    font: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;

}

.wave {
    background-color: var(--botao-azul);
    width: 100vw; /* Garante que a seção ocupe 100% da largura da tela */
    margin: 0; /* Remove qualquer margem */
    padding: 0; /* Remove qualquer padding */
    overflow: hidden; /* Garante que nada saia da área da seção */
    height: 150px;
    z-index: 1;

}

.wave-img {
    width: 100%; /* A imagem ocupa 100% da largura da seção */
    height: auto; /* Ajusta a altura da imagem automaticamente para manter a proporção */
    object-fit: cover; /* Faz com que a imagem cubra completamente a área da seção */
    display: block; /* Remove qualquer espaço extra abaixo da imagem */
    margin: 0; /* Remove qualquer margem */
    padding: 0; /* Remove qualquer padding */
    z-index: 1;
}

.wave-bottom {
    background-color: var(--botao-azul);
    width: 100vw; /* Garante que a seção ocupe 100% da largura da tela */
    margin: 0; /* Remove qualquer margem */
    padding: 0; /* Remove qualquer padding */
    overflow: hidden; /* Garante que nada saia da área da seção */
    height: 125px;
    z-index: 0;
}

.qs-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    font: var(--fonte-principal);
}

.contato-content {
    border: 1px solid #ece6e6;
    border-radius: 10px;
    width: 900px;
    height: 500px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Sombra mais suave na parte inferior */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato-title {
    font-size: 20px;
    font-weight: 400;
    color: var(--botao-azul);
}

