:root {
    --fonte-principal: 'Montserrat';
    --branco-principal: white;
    --botao-azul: #418ee1;
    --cinzaClaro-forms: #eae9e9;
    --cinzaEscuro-forms: #5e5e5e;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box; /* Garante que paddings e borders sejam incluídos nas dimensões */
    scroll-behavior: smooth;
}

body {
    background-color: var(--branco-principal);
    font-family: var(--fonte-principal), sans-serif;
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    align-items: center; /* Alinha verticalmente no centro */
    background-color: rgba(255, 255, 255, 0.7);
    height: 55px; /* Mantém a altura fixa */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
    box-sizing: border-box;
    justify-content: space-between; /* Garante que logo + abas fiquem juntos à esquerda e whatsapp à direita */
    z-index: 2;
}


.abas {
    display: flex; /* As abas serão organizadas lado a lado */
    margin: 0; /* Remove qualquer margem entre o logo e as abas */
    padding: 0;
    font: bold 16px "Montserrat", sans-serif;
    font-weight: 300;
}

.logo {
    height: 25px; /* Define uma altura fixa para o logo */
    width: auto;  /* A largura será ajustada proporcionalmente */
}

.abas li {
    display: inline-block; /* Faz os itens da lista ficarem na mesma linha */
    margin-right: 0.5em; /* Espaçamento entre os itens */
}

.abas li:not(:last-child)::after {
    content: " | "; /* Adiciona o separador entre os itens */
    color: black; /* Define a cor do separador para preto */
    padding-left: 0.2em; /* Adiciona o espaço à esquerda do separador */
    padding-right: 0.1em;
}

.links {
    text-decoration: none;
    color: black;
}

.links:hover {
    font-weight: 400;
}

.whatsapp-button {
    margin-left: auto; /* Alinha o botão à direita */
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    background-color: #25D366;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.whatsapp-button i {
    margin-right: 8px;
    font-size: 20px;
}

.whatsapp-button:hover {
    background-color: #128C7E;
}

.home {
    display: grid; /* Usamos grid para dividir em duas colunas */
    grid-template-columns: 50% 50%; /* Define duas colunas, cada uma com 50% da largura */
    align-items: center; /* Alinha os itens verticalmente no centro */
    justify-items: center; /* Centraliza os itens horizontalmente dentro de cada célula */
    width: 100vw; /* Faz com que a seção ocupe a largura completa da tela */
    height: 60vh; /* Define a altura da seção como 60% da altura da janela */
    padding: 6em 15em; /* Mantém o padding desejado */
    box-sizing: border-box; /* Garante que o padding não afete a largura/altura */
    margin: 0;
    gap: 2em;

}

.home-content {
    padding: 0 ;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 4em;
}

.home-img {
    max-width: 600px; /* Limita a largura máxima da imagem */
    width: 100%; /* Permite que a imagem ocupe até 100% do espaço disponível */
    height: auto; /* Mantém a proporção da imagem */
    object-fit: contain; /* Garante que a imagem será redimensionada para caber dentro do contêiner sem ser cortada */
    z-index: 1;
    margin-left: 1em;
}

.home-title {
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 0.2em;
}

.home-subtitle {
    font-weight: 400;
    font-size: 15px;
    margin-right: 0;
}

.cotacao_btn {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 0.6em 0.8em;
    color: var(--branco-principal);
    text-decoration: none;
    display: inline-block;
}

.qs {
    background-color: var(--botao-azul);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto; /* Permite que a altura se ajuste conforme o conteúdo */
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto; /* A altura será ajustada automaticamente com base no conteúdo */
    margin: 0;
    padding: 0;
    z-index: 0;
    position: relative;
}

.qs-img {
    max-width: 800px;
    justify-self: center;
    width: 100%; /* Permite que a imagem ocupe até 100% do espaço disponível */
    height: auto; /* Mantém a proporção da imagem */
    object-fit: contain; /* Garante que a imagem será redimensionada para caber dentro do contêiner sem ser cortada */
    align-self: center;
}

.qs-content {
    align-self: center;
    justify-self: center;
    margin-right: 9em;
    color: var(--branco-principal);
}

.qs-title {
    font: var(--fonte-principal);
    font-size: 20px;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.qs-span {
    font: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;

}

.wave {
    background-color: var(--botao-azul);
    width: 100vw; /* Garante que a seção ocupe 100% da largura da tela */
    margin: 0; /* Remove qualquer margem */
    padding: 0; /* Remove qualquer padding */
    overflow: hidden; /* Garante que nada saia da área da seção */
    height: 150px;
    z-index: 1;

}

.wave-img {
    width: 100%; /* A imagem ocupa 100% da largura da seção */
    height: auto; /* Ajusta a altura da imagem automaticamente para manter a proporção */
    object-fit: cover; /* Faz com que a imagem cubra completamente a área da seção */
    display: block; /* Remove qualquer espaço extra abaixo da imagem */
    margin: 0; /* Remove qualquer margem */
    padding: 0; /* Remove qualquer padding */
    z-index: 1;
}

.wave-bottom {
    background-color: var(--botao-azul);
    width: 100vw; /* Garante que a seção ocupe 100% da largura da tela */
    margin: 0; /* Remove qualquer margem */
    padding: 0; /* Remove qualquer padding */
    overflow: hidden; /* Garante que nada saia da área da seção */
    height: 125px;
    z-index: 0;
}

.qs-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    font: var(--fonte-principal);
}

.contato-content-0 {
    border: 1px solid #ece6e6;
    border-radius: 10px;
    width: 950px;
    height: 470px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 0 15px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
}

.contato-content-1 {
    width: 918px;
    height: 446px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Centraliza horizontalmente */


}

.contato-content-2 {
    width: 888px;
    height: 446px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Centraliza horizontalmente */
}

.contato-content-btn {
    width: 888px;
    height: 34px;
    padding: 0 15px;
}

.faleConosco {
    width: 100%;
    height: 107px;
    padding: 0 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.faleConosco-nome-telefone {
    width: 888px;
    height: 157px;
    display: flex;
    flex-direction: column;
    margin: 0 -15px 10px;
}

.fc-title {
    margin: 5px 0 50px;
    padding: 20px 0 2px;
    font-size: 20px;
    color: var(--botao-azul);
}

.nome-telefone {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100%;
}

.nome {
    margin:  0 0 10px;
    padding: 0 15px;
}

.nome-input {
    padding: 8px;
    height: 28px;
    width: 486px;
    border: none;
    background-color: var(--cinzaClaro-forms);
    border-radius: 12px;
    color: var(--botao-azul);
    font: var(--fonte-principal);
}

.nome-input::placeholder {
    color: var(--cinzaEscuro-forms);
}

.telefone {
    margin:  0 0 10px;
    padding: 0 15px;
}

.telefone-input {
    padding: 8px;
    height: 28px;
    width: 326px;
    border: none;
    background-color: var(--cinzaClaro-forms);
    border-radius: 12px;
    color: var(--cinzaEscuro-forms);
    font: var(--fonte-principal);
}

.email {
    margin:  0 0 23px;
    padding: 0;
}

.email-input {
    padding: 8px;
    height: 28px;
    width: 860px;
    border: none;
    background-color: var(--cinzaClaro-forms);
    border-radius: 12px;
    color: var(--botao-azul);
    font: var(--fonte-principal);
}

.assunto {
    margin:  0 0 23px;
    padding: 0;
}

.assunto-select {
    padding: 8px;
    height: 44px;
    width: 876px;
    border: none;
    background-color: var(--cinzaClaro-forms);
    border-radius: 12px;
    color: var(--botao-azul);
    font: var(--fonte-principal);
}

.mensagem {
    margin:  0 0 23px;
}

.mensagem-textarea {
    padding: 8px;
    height: 100px;
    width: 860px;
    border: none;
    background-color: var(--cinzaClaro-forms);
    border-radius: 12px;
    color: var(--botao-azul);
    font: var(--fonte-principal);
    resize: none;
}

.contato-content-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font: var(--fonte-principal);
}

.contato-btn {
    background-color: var(--botao-azul);
    border-radius: 100px;
    padding: 0.6em 0.8em;
    color: var(--branco-principal);
    text-decoration: none;
}

.whatsapp-contato {

    width: 950px;
    height: 120px;
    padding: 0 15px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
}

.whatsapp-button-2 {
    background-color: #25D366;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.whatsapp-button-2 i {
    margin-right: 8px;
    font-size: 20px;
}

.whatsapp-button-2:hover {
    background-color: #128C7E;
}

.footer-top {
    background-color: #222222;
}

.footer-top-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
    width: 100%;

}

.endereco {
    width: 370px;
    height: 270px;
}

.endereco-title {
    padding: 0 15px;
    text-align: center;
}

.endereco-txt {
    margin-top: 20px;
    margin-bottom: 0;
    color: var(--branco-principal);
    font: var(--fonte-principal);
    font-size: 15px;
}

.logradouro {
    margin: 0 0 16px 10px;
    font: var(--fonte-principal);
    font-size: 12px;
    color: var(--branco-principal);
}

.mapa-img {
    width: 100%;
    border-radius: 10px;

}

.sistemas {
    width: 370px;
    height: 270px;
}

.sistemas-title {
    padding: 0 15px;
    text-align: center;
}

.sistemas-txt {
    margin-top: 20px;
    margin-bottom: 0;
    color: var(--branco-principal);
    font: var(--fonte-principal);
    font-size: 15px;
}

.sistemas-logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    grid-template-rows: repeat(3, auto);  /* Três linhas */
}

.grid-item {
    display: flex;            /* Usa flexbox para centralizar o conteúdo */
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;      /* Centraliza verticalmente */

}

.grid-item img {
    width: 50%;
    object-fit: contain; /* Faz a imagem manter suas proporções */
}

.footer-bottom {
    background-color: black;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bottom-txt {
    margin: 0;
    color: var(--branco-principal);
    text-align: center;
    font: var(--fonte-principal);
    font-size: 12px;
}


