:root {
    --fonte-principal: 'Montserrat';
    --branco-principal: white;
    --botao-azul: #418ee1;
    --cinzaClaro-forms: #eae9e9;
    --cinzaEscuro-forms: #5e5e5e;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;

}

body {
    background-color: var(--branco-principal);
    font-family: var(--fonte-principal), sans-serif;
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    height: 55px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
    box-sizing: border-box;
    justify-content: space-between;
    z-index: 2;
}


.abas {
    display: flex;
    margin: 0;
    padding: 0;
    font: bold 16px "Montserrat", sans-serif;
    font-weight: 300;
}

.logo {
    height: 25px;
    width: auto;
}

.abas li {
    display: inline-block;
    margin-right: 0.5em;
}

.abas li:not(:last-child)::after {
    content: " | ";
    color: black;
    padding-left: 0.2em;
    padding-right: 0.1em;
}

.links {
    text-decoration: none;
    color: black;
}

.links:hover {
    font-weight: 400;
}

.whatsapp-button {
    margin-left: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    background-color: #25D366;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.whatsapp-button i {
    margin-right: 8px;
    font-size: 20px;
}

.whatsapp-button:hover {
    background-color: #128C7E;
}

.home {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
    width: 100vw;
    height: 60vh;
    padding: 6em 15em;
    box-sizing: border-box;
    margin: 0;
    gap: 2em;

}

.home-content {
    padding: 0 ;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 4em;
}

.home-img {
    max-width: 600px;
    width: 100%;
    height: auto;
    object-fit: contain;
    z-index: 1;
    margin-left: 1em;
}

.home-title {
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 0.2em;
}

.home-subtitle {
    font-weight: 400;
    font-size: 15px;
    margin-right: 0;
}

.cotacao_btn {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 0.6em 0.8em;
    color: var(--branco-principal);
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s
}

.cotacao_btn:hover {
    background-color: #81a1f3;
}

.qs {
    background-color: var(--botao-azul);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    z-index: 0;
    position: relative;
}

.qs-img {
    max-width: 800px;
    justify-self: center;
    width: 100%;
    height: auto;
    object-fit: contain;
    align-self: center;
}

.qs-content {
    align-self: center;
    justify-self: center;
    margin-right: 9em;
    color: var(--branco-principal);
}

.qs-title {
    font: var(--fonte-principal);
    font-size: 20px;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.qs-span {
    font: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;

}

.wave {
    background-color: var(--botao-azul);
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 150px;
    z-index: 1;

}

.wave-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.wave-bottom {
    background-color: var(--botao-azul);
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 125px;
    z-index: 0;
}

.qs-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: var(--fonte-principal);
}

.contato-content-0 {
    border: 1px solid #ece6e6;
    border-radius: 10px;
    width: 950px;
    height: 470px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 0 15px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contato-content-1 {
    width: 918px;
    height: 446px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contato-content-2 {
    width: 888px;
    height: 446px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contato-content-btn {
    width: 888px;
    height: 34px;
    padding: 0 15px;
}

.faleConosco {
    width: 100%;
    height: 107px;
    padding: 0 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.faleConosco-nome-telefone {
    width: 888px;
    height: 157px;
    display: flex;
    flex-direction: column;
    margin: 0 -15px 10px;
}

.fc-title {
    margin: 5px 0 50px;
    padding: 20px 0 2px;
    font-size: 20px;
    color: var(--botao-azul);
}

.nome-telefone {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100%;
}

.nome {
    margin:  0 0 10px;
    padding: 0 15px;
}

.nome-input {
    padding: 8px;
    height: 28px;
    width: 486px;
    border: none;
    background-color: var(--cinzaClaro-forms);
    border-radius: 12px;
    color: var(--botao-azul);
    font: var(--fonte-principal);
}

.nome-input::placeholder {
    color: var(--cinzaEscuro-forms);
}

.telefone {
    margin:  0 0 10px;
    padding: 0 15px;
}

.telefone-input {
    padding: 8px;
    height: 28px;
    width: 326px;
    border: none;
    background-color: var(--cinzaClaro-forms);
    border-radius: 12px;
    color: var(--cinzaEscuro-forms);
    font: var(--fonte-principal);
}

.email {
    margin:  0 0 23px;
    padding: 0;
}

.email-input {
    padding: 8px;
    height: 28px;
    width: 860px;
    border: none;
    background-color: var(--cinzaClaro-forms);
    border-radius: 12px;
    color: var(--botao-azul);
    font: var(--fonte-principal);
}

.assunto {
    margin:  0 0 23px;
    padding: 0;
}

.assunto-select {
    padding: 8px;
    height: 44px;
    width: 876px;
    border: none;
    background-color: var(--cinzaClaro-forms);
    border-radius: 12px;
    color: var(--botao-azul);
    font: var(--fonte-principal);
}

.mensagem {
    margin:  0 0 23px;
}

.mensagem-textarea {
    padding: 8px;
    height: 100px;
    width: 860px;
    border: none;
    background-color: var(--cinzaClaro-forms);
    border-radius: 12px;
    color: var(--botao-azul);
    font: var(--fonte-principal);
    resize: none;
}

.contato-content-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font: var(--fonte-principal);
}

.contato-btn {
    background-color: var(--botao-azul);
    border-radius: 20px;
    padding: 0.6em 1em;
    color: var(--branco-principal);
    text-decoration: none;
    border: none;
    font-size: 14px;
    font: var(--fonte-principal);
    cursor: pointer;
    transition: background-color 0.3s
}

.contato-btn:hover {
    background-color: #81a1f3;
}

.whatsapp-contato {

    width: 950px;
    height: 120px;
    padding: 0 15px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whatsapp-button-2 {
    background-color: #25D366;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.whatsapp-button-2 i {
    margin-right: 8px;
    font-size: 20px;
}

.whatsapp-button-2:hover {
    background-color: #128C7E;
}

.footer-top {
    background-color: #222222;
}

.footer-top-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
    width: 100%;

}

.endereco {
    width: 370px;
    height: 270px;
}

.endereco-title {
    padding: 0 15px;
    text-align: center;
}

.endereco-txt {
    margin-top: 20px;
    margin-bottom: 0;
    color: var(--branco-principal);
    font: var(--fonte-principal);
    font-size: 15px;
}

.logradouro {
    margin: 0 0 16px 10px;
    font: var(--fonte-principal);
    font-size: 12px;
    color: var(--branco-principal);
}

.mapa-img {
    width: 100%;
    border-radius: 10px;

}

.sistemas {
    width: 370px;
    height: 270px;
}

.sistemas-title {
    padding: 0 15px;
    text-align: center;
}

.sistemas-txt {
    margin-top: 20px;
    margin-bottom: 0;
    color: var(--branco-principal);
    font: var(--fonte-principal);
    font-size: 15px;
}

.sistemas-logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;

}

.grid-item img {
    width: 50%;
    object-fit: contain;
}

.footer-bottom {
    background-color: black;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bottom-txt {
    margin: 0;
    color: var(--branco-principal);
    text-align: center;
    font: var(--fonte-principal);
    font-size: 12px;
}


